<h1><%= @event.title %></h1>
<p><%= @event.body %></p>

<h3>Attendees</h3>
<% if @attendees.any? %>
  <ul>
    <% @attendees.each do |attendee| %>
      <li><%= attendee.username %></li>
    <% end %>
  </ul>
<% else %>
  <p>No attendees yet.</p>
<% end %>

<% if user_signed_in? %>
  <h2>Attend this Event</h2>
  <% if current_user.attended_events.include?(@event) %>
    <%= button_to "Remove Attendance", event_booking_path(@event, @event.booking_for_user(current_user)), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
    <%= form_with(model: [@event, @event.bookings.build], local: true) do |form| %>
      <%= form.hidden_field :attended_event_id, value: @event.id %>
      <%= form.submit "Attend" %>
    <% end %>
  <% end %>
<% end %>

<br>
<%= link_to 'Home Page', root_path %>
<br>
<%= link_to 'Create New EVENT', new_event_path %>